.todoItem {
  border: 3px darkseagreen solid;
}
.todoName {
  align-self: center;
  height: 2rem;
  line-height: 2rem;
  min-width: 50%;
  text-align: start;
  overflow: hidden;
}
.deleteButton {
  margin-left: auto;
}
